.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 54px;
  width: 100%; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  .wrap *, .wrap *:before, .wrap *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 991px) {
    .wrap {
      padding: 0 30px; } }

* {
  outline: none;
  outline-style: none;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header .apps-container button#search,
header .apps-container button#menu,
header .apps-container button#scrolltop {
  width: 46px;
  height: 46px;
  color: #B4894B;
  font-size: 40px;
  line-height: 18px;
  border: 0;
  padding: 0;
  margin: 0; }

header .apps-container button#search {
  position: absolute;
  right: 0;
  z-index: 2;
  background: #B4894B;
  background-image: url(../images/search.svg);
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat; }
  @media all and (max-width: 991px) {
    header .apps-container button#search {
      position: fixed;
      height: 60px;
      width: 60px;
      background: #fff;
      background-image: url("../images/search-button-peru.svg");
      background-repeat: no-repeat;
      background-position: center; } }

header .apps-container button#scrolltop {
  width: 46px;
  height: 46px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #B4894B;
  background-image: url(../images/scrolltop.png);
  background-position: 50% 50%;
  background-size: 20px 11px;
  background-repeat: no-repeat; }

header nav {
  position: fixed;
  float: left;
  width: 220px;
  height: 100vh;
  padding: 45px 30px;
  z-index: 1;
  background: #fff;
  border-right: 1px solid #e6e6e6; }
  @media all and (max-width: 991px) {
    header nav {
      position: fixed;
      width: 100%;
      height: 61px;
      padding: 0;
      border-right: none;
      border-bottom: 1px solid #e6e6e6; } }
  header nav a.logo {
    display: block;
    width: 120px;
    height: 90px;
    margin: 0 auto;
    background: url(../images/logo.svg);
    background-position: center center;
    background-repeat: no-repeat; }
    @media all and (max-width: 991px) {
      header nav a.logo {
        display: block;
        width: 95px;
        height: 100%;
        margin: 0 auto;
        background: url(../images/heads-logo-mobile.svg);
        background-position: center center;
        background-repeat: no-repeat; } }
  header nav menu {
    margin: 45px 0 0;
    padding: 0;
    display: block;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header nav menu:after {
      content: " ";
      display: block;
      clear: both; }
    @media all and (max-width: 991px) {
      header nav menu {
        display: none;
        background-color: #fff;
        padding: 0 20px;
        margin: 0;
        border-bottom: 1px solid #e6e6e6; } }
    header nav menu ul.main-menu {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      border-top: 1px solid #e6e6e6; }
      @media all and (max-width: 991px) {
        header nav menu ul.main-menu {
          border: none; } }
      header nav menu ul.main-menu li a {
        display: block;
        border-bottom: 1px solid #e6e6e6;
        background-image: url(../images/chevron.svg);
        background-repeat: no-repeat;
        background-position: 100% 50%;
        transition: color 0.3s ease;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 60px;
        color: #656565; }
        header nav menu ul.main-menu li a:hover {
          color: #B4894B; }
    header nav menu .contacts-menu {
      background-color: #fff;
      margin-top: 16px;
      position: absolute;
      bottom: 45px;
      clear: both; }
      header nav menu .contacts-menu:after {
        content: " ";
        display: block;
        clear: both; }
      @media all and (max-width: 991px) {
        header nav menu .contacts-menu {
          padding: 20px 0 0;
          position: relative;
          bottom: inherit; }
          header nav menu .contacts-menu a.phone-contact {
            display: block;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s ease;
            margin-bottom: 10px; }
          header nav menu .contacts-menu a.order-call {
            display: block;
            font-size: 15px;
            background-image: url(../images/phone-ico.svg);
            background-repeat: no-repeat;
            background-position: 0 50%;
            padding-left: 30px;
            transition: color 0.3s ease; } }
      header nav menu .contacts-menu ul li a {
        color: #656565; }
        header nav menu .contacts-menu ul li a:hover {
          color: #B4894B; }
      header nav menu .contacts-menu ul li a.phone-contact {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease; }
      header nav menu .contacts-menu ul li a.order-call {
        display: block;
        padding-left: 30px;
        background-image: url(../images/phone-ico.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        font-size: 15px;
        transition: color 0.3s ease; }
  header nav .social-mobile {
    display: none;
    padding: 20px 0;
    background-color: #fff; }
    header nav .social-mobile:after {
      content: " ";
      display: block;
      clear: both; }
    @media all and (max-width: 991px) {
      header nav .social-mobile {
        display: block; } }
    header nav .social-mobile ul li {
      display: inline-block; }
    header nav .social-mobile ul a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      margin-right: 20px; }
    header nav .social-mobile ul a.facebook-mobile {
      background-image: url(../images/ico-facebook.svg); }
    header nav .social-mobile ul a.youtube-mobile {
      background-image: url(../images/ico-youtube.svg); }
    header nav .social-mobile ul a.twitter-mobile {
      background-image: url(../images/ico-twitter.svg); }

header button#menu {
  display: none;
  width: 60px;
  height: 60px;
  background: url(../images/menu-button.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 19px 23px; }
  @media all and (max-width: 991px) {
    header button#menu {
      display: block;
      height: 59px;
      width: 59px;
      background-color: #fff;
      position: absolute; } }

* {
  outline: none;
    outline-outline-style: none;
    outline-box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #656565;
  background: #F6F5F3; }

.all-items {
  color: #B4894B;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #B4894B; }

.full-page-link {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative; }
  .full-page-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    display: block;
    left: 0;
    top: 50%; }
  .full-page-link .page-button {
    display: block;
    position: relative;
    width: 220px;
    background-color: #F6F5F3;
    margin: 0 auto; }
    .full-page-link .page-button a {
      color: #B4894B;
      display: block;
      width: 160px;
      height: 44px;
      border: 1px solid #B4894B;
      text-align: center;
      line-height: 42px;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 3px;
      margin: 0 auto;
      transition-property: color, background;
      transition: 0.3s ease; }
      .full-page-link .page-button a:hover {
        background-color: #B4894B;
        color: #F6F5F3; }

p {
  margin-bottom: 20px; }

b {
  font-weight: bold; }

button {
  border: none;
  cursor: pointer; }

.border-bottom::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 40px;
  background: #B4894B; }

section {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  padding: 50px 0; }
  section:after {
    content: " ";
    display: block;
    clear: both; }

.section-heading, .page-banner .page-title {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 14px;
  padding-bottom: 10px;
  clear: none;
  color: #656565;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none none solid;
  border-bottom: 1px none #ccc; }

.section-heading:before, .page-banner .page-title:before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  left: 50%;
  bottom: 0px;
  margin: 0 auto;
  background: #b4894b;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-subheading, .page-banner .page-desc {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  text-transform: none; }

.section-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative; }

.bottom-border {
  border-bottom: 1px solid #ccc; }

main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  float: left;
  width: 100%;
  min-height: 100vh;
  background-color: #F6F5F3;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 220px;
  padding-bottom: 222px; }
  @media all and (max-width: 991px) {
    main {
      padding-left: 0; } }

#main-popular-services, #popular-services {
  background: #efeeeb;
  padding-top: 30px; }
  #main-popular-services .all-items, #popular-services .all-items {
    position: absolute;
    right: 54px;
    top: 0; }
    @media all and (max-width: 767px) {
      #main-popular-services .all-items, #popular-services .all-items {
        top: auto;
        right: auto;
        bottom: 0; } }

#advantages-banner {
  padding: 0; }
  #advantages-banner .advantages-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../images/advantages-bg.jpg); }
    #advantages-banner .advantages-background::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.5); }
  #advantages-banner .advantage-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 50px 0; }
    @media all and (max-width: 767px) {
      #advantages-banner .advantage-items {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
    #advantages-banner .advantage-items .advantage {
      width: calc(100% / 3);
      text-align: center;
      position: relative;
      padding: 30px 15px; }
      @media all and (max-width: 767px) {
        #advantages-banner .advantage-items .advantage {
          width: 80%; } }
      #advantages-banner .advantage-items .advantage:nth-child(2) {
        border-left: 2px solid #B4894B;
        border-right: 2px solid #B4894B; }
        @media all and (max-width: 767px) {
          #advantages-banner .advantage-items .advantage:nth-child(2) {
            border: none;
            border-top: 2px solid #B4894B;
            border-bottom: 2px solid #B4894B; } }
      #advantages-banner .advantage-items .advantage .advantage-head {
        color: #fff;
        font-size: 100px;
        font-weight: bold;
        display: block;
        line-height: 75px;
        margin-bottom: 30px; }
      #advantages-banner .advantage-items .advantage p {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 28px; }

.article-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .article-container:after {
    content: " ";
    display: block;
    clear: both; }
  .article-container .article-item {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 30px; }
    .article-container .article-item:after {
      content: " ";
      display: block;
      clear: both; }
    .article-container .article-item:nth-child(4n) {
      width: 23.72881%;
      float: right;
      margin-right: 0; }
    @media all and (max-width: 1440px) {
      .article-container .article-item:nth-child(n) {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .article-container .article-item:nth-child(3n) {
        width: 32.20339%;
        float: right;
        margin-right: 0; }
      .article-container .article-item:nth-child(n+4) {
        display: none; } }
    @media all and (max-width: 1260px) {
      .article-container .article-item:nth-child(n) {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%; }
      .article-container .article-item:nth-child(2n) {
        width: 49.15254%;
        float: right;
        margin-right: 0; }
      .article-container .article-item:nth-child(n+3) {
        display: none; } }
    @media all and (max-width: 767px) {
      .article-container .article-item:nth-child(n) {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .article-container .article-item:hover .article-img img {
      -webkit-filter: saturate(1);
      filter: saturate(1); }
    .article-container .article-item .article-img {
      width: 100%;
      position: relative;
      margin-bottom: 15px; }
      .article-container .article-item .article-img img {
        position: relative;
        width: 100%;
        -webkit-filter: saturate(0.2);
        filter: saturate(0.2);
        transition-property: -webkit-filter;
        transition-property: filter;
        transition-property: filter, -webkit-filter;
        transition: 0.3s ease; }
      .article-container .article-item .article-img .source-logo {
        width: 130px;
        height: 48px;
        position: absolute;
        bottom: -5px;
        right: -5px; }
        .article-container .article-item .article-img .source-logo img {
          width: 130px;
          height: 48px; }
    .article-container .article-item .article-author {
      padding-bottom: 15px;
      border-bottom: 1px solid #B4894B;
      height: 63px;
      margin-bottom: 15px; }
      .article-container .article-item .article-author .author-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px; }
        .article-container .article-item .article-author .author-img img {
          position: relative;
          width: 100%;
          height: 100%; }
      .article-container .article-item .article-author .author-name {
        padding-top: 8px; }
        .article-container .article-item .article-author .author-name p {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 0;
          float: none; }
        .article-container .article-item .article-author .author-name span {
          font-size: 13px; }
    .article-container .article-item .article-description {
      text-decoration: none;
      color: #656565; }
      .article-container .article-item .article-description .article-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 26px; }

#comments-section {
  background: #efeeeb; }
  #comments-section .page-button {
    background: #efeeeb; }

.page-banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
  position: relative; }
  @media all and (max-width: 991px) {
    .page-banner {
      margin-top: 60px; } }
  .page-banner::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.5); }
  .page-banner .page-title {
    color: white; }
  .page-banner .page-desc {
    float: none;
    color: white;
    max-width: 730px;
    margin: 0 auto; }

#services {
  background-image: url(../images/banner-services.png); }

#comments {
  background-image: url(../images/banner-comments.png); }

#about {
  background-image: url(../images/banner-about.png); }

#team {
  background-image: url(../images/banner-team.png); }

#partners {
  background-image: url(../images/banner-clients.png); }

#blog {
  background-image: url(../images/banner-blog.png); }

#loyalty {
  background-image: url(../images/banner-loyalty.png); }

#faq {
  background-image: url(../images/banner-faq.png); }

#popular-services {
  padding-bottom: 30px; }
  #popular-services .section-title {
    margin-bottom: 0; }

#all-services ul.diamond {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 30px; }
  #all-services ul.diamond:nth-child(4n) {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  @media all and (max-width: 1680px) {
    #all-services ul.diamond:nth-child(n) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    #all-services ul.diamond:nth-child(3n) {
      width: 32.20339%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 1340px) {
    #all-services ul.diamond:nth-child(n) {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
    #all-services ul.diamond:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 767px) {
    #all-services ul.diamond:nth-child(n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  #all-services ul.diamond li {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

.flex-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media all and (max-width: 991px) {
    .flex-layout {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .flex-layout .main-flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 54px; }
    @media all and (max-width: 991px) {
      .flex-layout .main-flex {
        margin-bottom: 30px;
        padding-right: 0; } }
    .flex-layout .main-flex a {
      color: #B4894B; }
  .flex-layout .flex-side {
    width: 280px; }
    .flex-layout .flex-side:after {
      content: " ";
      display: block;
      clear: both; }
    @media all and (max-width: 991px) {
      .flex-layout .flex-side {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
        .flex-layout .flex-side:after {
          content: " ";
          display: block;
          clear: both; } }
    .flex-layout .flex-side .side-section {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .flex-layout .flex-side .side-section:after {
        content: " ";
        display: block;
        clear: both; }
      @media all and (max-width: 991px) {
        .flex-layout .flex-side .side-section {
          width: 49.15254%;
          float: left;
          margin-right: 1.69492%; }
          .flex-layout .flex-side .side-section:nth-child(2n) {
            width: 49.15254%;
            float: right;
            margin-right: 0; } }
      @media all and (max-width: 767px) {
        .flex-layout .flex-side .side-section:nth-child(n) {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
    .flex-layout .flex-side .section-title {
      position: relative;
      clear: both;
      padding-bottom: 10px;
      margin-bottom: 13px; }
      .flex-layout .flex-side .section-title::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 40px;
        background: #B4894B; }
    .flex-layout .flex-side ul.diamond {
      margin-bottom: 30px; }
      .flex-layout .flex-side ul.diamond li {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
    .flex-layout .flex-side ul.linked-list {
      margin-bottom: 10px; }
    .flex-layout .flex-side .all-items {
      margin-left: 20px;
      margin-bottom: 50px; }

#comments .comment-item {
  margin-bottom: 50px; }

#information-page {
  padding-top: 85px; }
  @media all and (max-width: 991px) {
    #information-page {
      padding: 30px 0;
      margin-top: 60px; } }
  #information-page .main-flex img {
    position: relative;
    width: 100%;
    margin-bottom: 20px; }
  #information-page .main-flex .section-title {
    padding-bottom: 0;
    margin-bottom: 10px; }
  #information-page .main-flex .page-title {
    position: relative;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 6px;
    margin-bottom: 10px; }
    #information-page .main-flex .page-title::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 40px;
      background: #B4894B; }
  #information-page .main-flex .date-published {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding-top: 10px;
    margin-top: 20px; }
    #information-page .main-flex .date-published::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 40px;
      background: #B4894B; }
    #information-page .main-flex .date-published a {
      color: #B4894B; }
  #information-page .main-flex .published {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding-top: 10px;
    margin-top: 20px; }
    #information-page .main-flex .published:after {
      content: " ";
      display: block;
      clear: both; }
    #information-page .main-flex .published:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 40px;
      top: 0;
      left: 0;
      background: #B4894B; }
    #information-page .main-flex .published p {
      margin-bottom: 0; }
    #information-page .main-flex .published a {
      display: block;
      color: #B4894B;
      line-height: 20px; }
      #information-page .main-flex .published a:hover {
        text-decoration: none; }
  #information-page .main-flex ul.diamond {
    margin-bottom: 10px; }
    #information-page .main-flex ul.diamond li {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }

.team-card-container {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  position: relative;
  margin-bottom: 1.69492%; }
  .team-card-container:nth-child(4n) {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  @media all and (max-width: 1440px) {
    .team-card-container:nth-child(n) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    .team-card-container:nth-child(3n) {
      width: 32.20339%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 767px) {
    .team-card-container:nth-child(n) {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
    .team-card-container:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 447px) {
    .team-card-container:nth-child(n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .team-card-container:after {
    content: " ";
    display: block;
    clear: both; }
  .team-card-container::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 60%, #333333 100%); }
  .team-card-container:hover img {
    -webkit-filter: saturate(1);
    filter: saturate(1); }
  .team-card-container img {
    vertical-align: middle;
    position: relative;
    width: 100%;
    -webkit-filter: saturate(0.3);
    filter: saturate(0.3);
    transition: -webkit-filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease; }
  .team-card-container .team-card-titles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 2; }
    .team-card-container .team-card-titles .section-title {
      color: white;
      padding: 0;
      margin: 0;
      position: relative;
      padding-top: 15px; }
      .team-card-container .team-card-titles .section-title::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 2px;
        width: 40px;
        background: #B4894B; }
    .team-card-container .team-card-titles p {
      color: white;
      margin-bottom: 0; }

#person-detail {
  padding: 0; }
  #person-detail ul.breadcrumbs li, #person-detail ul.breadcrumbs a {
    color: white; }
  #person-detail .main-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: calc(100vh - 200px); }
    #person-detail .main-flex .team-card-photo {
      width: 50%;
      max-width: 600px;
      background-size: cover;
      background-position: center top; }
    #person-detail .main-flex .team-card-description {
      width: 50%;
      padding: 90px 30px 0; }
      #person-detail .main-flex .team-card-description .team-card-name {
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 38px;
        padding-bottom: 10px;
        margin-bottom: 15px; }
        #person-detail .main-flex .team-card-description .team-card-name span {
          font-weight: normal;
          display: block; }
      #person-detail .main-flex .team-card-description .team-card-position {
        font-weight: bold;
        margin-bottom: 30px; }
  #person-detail .flex-side {
    padding-top: 90px;
    padding-right: 54px; }
  #person-detail #bazykin-card {
    background-image: url(../images/bazykin-photo.png); }

.partners-card-container {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ccc;
  height: 150px;
  margin-bottom: 1.69492%; }
  .partners-card-container:nth-child(4n) {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  @media all and (max-width: 991px) {
    .partners-card-container:nth-child(n) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    .partners-card-container:nth-child(3n) {
      width: 32.20339%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 767px) {
    .partners-card-container:nth-child(n) {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
    .partners-card-container:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 447px) {
    .partners-card-container:nth-child(n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.faq-list {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .faq-list:after {
    content: " ";
    display: block;
    clear: both; }
  .faq-list .faq-container {
    border: 1px solid #ccc;
    margin-bottom: 1.69492%;
    padding: 30px;
    color: #656565;
    text-decoration: none;
    background-color: transparent;
    transition-property: color, background;
    transition: 0.3s ease;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
    .faq-list .faq-container:hover {
      background: #B4894B;
      color: white; }
    .faq-list .faq-container:nth-child(3n) {
      width: 32.20339%;
      float: right;
      margin-right: 0; }
    @media all and (max-width: 1440px) {
      .faq-list .faq-container:nth-child(n) {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%; }
      .faq-list .faq-container:nth-child(2n) {
        width: 49.15254%;
        float: right;
        margin-right: 0; } }
    @media all and (max-width: 767px) {
      .faq-list .faq-container:nth-child(n) {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .faq-list .faq-container .section-title {
      margin-bottom: 0;
      padding-bottom: 0; }

#contacts .section-title {
  padding-bottom: 10px; }

section.map {
  padding: 0; }

ymaps {
  -webkit-filter: saturate(0.8);
  filter: saturate(0.8);
  z-index: 0; }

a.entrance {
  text-decoration: none; }
  a.entrance:hover {
    text-decoration: underline; }

.loyalty-card-container {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 30px; }
  .loyalty-card-container:nth-child(2n) {
    width: 49.15254%;
    float: right;
    margin-right: 0; }
  @media all and (max-width: 991px) {
    .loyalty-card-container:nth-child(n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .loyalty-card-container img {
    margin-bottom: 30px; }
  .loyalty-card-container .section-title {
    padding-bottom: 10px;
    margin-bottom: 15px; }
  .loyalty-card-container ul.diamond li:nth-child(n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

.services-filter-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .services-filter-container:after {
    content: " ";
    display: block;
    clear: both; }
  .services-filter-container .dropdown-container {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    position: relative;
    height: 44px;
    padding: 13px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer; }
    @media all and (max-width: 991px) {
      .services-filter-container .dropdown-container {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; } }
    .services-filter-container .dropdown-container .dropdown-text {
      position: relative;
      text-transform: uppercase;
      color: white; }
    .services-filter-container .dropdown-container .dropdown-chevron {
      position: absolute;
      top: -5px;
      right: 0;
      bottom: 0;
      margin: auto;
      margin-right: 20px;
      width: 12px;
      height: 12px;
      background-image: url("../images/chevron-white.svg");
      background-repeat: no-repeat;
      background-position: center right;
      background-position-x: 95%;
      -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
      transform: rotateZ(90deg); }
    .services-filter-container .dropdown-container .dropdown-list {
      display: none;
      top: 55px;
      left: 0px;
      width: 100%;
      position: absolute;
      padding: 20px 20px 10px 15px;
      background: white;
      border-radius: 3px;
      background-color: #fff;
      z-index: 1; }
      .services-filter-container .dropdown-container .dropdown-list .dropdown-title {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: #656565;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase; }
        .services-filter-container .dropdown-container .dropdown-list .dropdown-title::after {
          content: "";
          width: 40px;
          height: 2px;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #B4894B; }
      .services-filter-container .dropdown-container .dropdown-list ul {
        width: 100%;
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        color: #fff; }
        .services-filter-container .dropdown-container .dropdown-list ul li {
          margin-bottom: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 30px;
          background-image: url(../images/dropdown-chevron-inactive.svg);
          background-position: 0px 8px;
          background-size: 14px;
          background-repeat: no-repeat;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
          border: none;
          color: #999;
          font-size: 16px;
          text-align: left;
          text-transform: none; }
          .services-filter-container .dropdown-container .dropdown-list ul li:hover {
            cursor: pointer;
            background-image: url(../images/dropdown-chevron-active.svg);
            background-position: 0px 8px;
            background-size: 14px;
            background-repeat: no-repeat; }
          .services-filter-container .dropdown-container .dropdown-list ul li a {
            color: #656565;
            transition: color 0.3s ease; }
            .services-filter-container .dropdown-container .dropdown-list ul li a:hover {
              color: #B4894B; }
  .services-filter-container .dropdown.open .dropdown-list {
    display: block; }
  .services-filter-container button.submit {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    height: 44px;
    background: #B4894B;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    opacity: 0.9;
    transition: opacity 0.3s ease; }
    .services-filter-container button.submit:hover {
      opacity: 1; }
    @media all and (max-width: 991px) {
      .services-filter-container button.submit {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }

#main-filter, #services-filter {
  background: #656565; }
  #main-filter .section-heading, #main-filter .page-banner .page-title, .page-banner #main-filter .page-title, #main-filter .section-subheading, #main-filter .page-banner .page-desc, .page-banner #main-filter .page-desc, #main-filter .section-title, #services-filter .section-heading, #services-filter .page-banner .page-title, .page-banner #services-filter .page-title, #services-filter .section-subheading, #services-filter .page-banner .page-desc, .page-banner #services-filter .page-desc, #services-filter .section-title {
    color: white; }

#services-filter {
  padding: 30px 0; }
  #services-filter .section-title {
    margin-bottom: 0; }

ol {
  counter-reset: myCounter; }
  ol li {
    list-style: none;
    display: block;
    color: #656565; }
    ol li:before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      color: #656565;
      display: inline-block;
      font-weight: bold;
      text-align: center;
      margin-right: 5px; }

ul.dotted {
  list-style-type: disc;
  list-style-position: inside; }
  ul.dotted li {
    position: relative; }

ul.diamond {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  ul.diamond:after {
    content: " ";
    display: block;
    clear: both; }
  ul.diamond li {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    padding-bottom: 8px;
    padding-left: 20px;
    position: relative; }
    ul.diamond li:nth-child(4n) {
      width: 23.72881%;
      float: right;
      margin-right: 0; }
    @media all and (max-width: 1680px) {
      ul.diamond li:nth-child(n) {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      ul.diamond li:nth-child(3n) {
        width: 32.20339%;
        float: right;
        margin-right: 0; } }
    @media all and (max-width: 1340px) {
      ul.diamond li:nth-child(n) {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%; }
      ul.diamond li:nth-child(2n) {
        width: 49.15254%;
        float: right;
        margin-right: 0; } }
    @media all and (max-width: 767px) {
      ul.diamond li:nth-child(n) {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    ul.diamond li::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      background: #B4894B;
      width: 6px;
      height: 6px;
      top: 7px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    ul.diamond li a {
      display: block;
      position: relative;
      font-size: 15px;
      color: #656565;
      line-height: 19px;
      transition: color 0.3s ease; }
      ul.diamond li a:hover {
        color: #B4894B; }
  ul.diamond .service-list-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    padding-bottom: 7px;
    margin-bottom: 15px; }
    ul.diamond .service-list-title::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 40px;
      background: #B4894B; }

@media all and (max-width: 767px) {
  #main-popular-services ul.diamond, #popular-services ul.diamond {
    padding-bottom: 30px; }
  #main-popular-services .all-items, #popular-services .all-items {
    margin-left: 20px; } }

.page-navigation {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .page-navigation:after {
    content: " ";
    display: block;
    clear: both; }
  .page-navigation::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #999999; }
  .page-navigation ul {
    display: block;
    background: #F6F5F3;
    padding: 0 30px;
    z-index: 1; }
    .page-navigation ul li {
      display: inline-block;
      width: 44px;
      height: 44px;
      position: relative;
      border: 1px solid #B4894B;
      border-radius: 3px;
      line-height: 44px;
      text-align: center;
      font-weight: bold;
      transition: background 0.3s ease;
      margin-bottom: 4px; }
      .page-navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #999999;
        transition: color 0.3s ease; }
      .page-navigation ul li:hover {
        background: #B4894B; }
        .page-navigation ul li:hover a {
          color: #F6F5F3; }
    .page-navigation ul .active a {
      color: #B4894B; }

.flex-side ul.team-side {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px; }
  .flex-side ul.team-side:after {
    content: " ";
    display: block;
    clear: both; }
  .flex-side ul.team-side li {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .flex-side ul.team-side li:after {
      content: " ";
      display: block;
      clear: both; }
    .flex-side ul.team-side li .article-author {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 20px  0;
      border-bottom: 1px solid #e6e6e6;
      color: #656565;
      text-decoration: none;
      transition: color 0.3s ease; }
      .flex-side ul.team-side li .article-author:after {
        content: " ";
        display: block;
        clear: both; }
      .flex-side ul.team-side li .article-author:hover .author-name {
        color: #B4894B; }
      .flex-side ul.team-side li .article-author .author-img {
        width: 40px;
        height: 40px;
        position: relative;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px; }
        .flex-side ul.team-side li .article-author .author-img img {
          position: relative;
          width: 100%; }
    .flex-side ul.team-side li .author-name {
      transition: color 0.3s ease; }
      .flex-side ul.team-side li .author-name p {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0; }

ul.breadcrumbs {
  position: absolute;
  top: 20px;
  left: 54px; }
  @media all and (max-width: 991px) {
    ul.breadcrumbs {
      left: 30px; } }
  ul.breadcrumbs li {
    display: inline-block;
    color: #999999;
    background-image: url(../images/bread-chevron.svg);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    padding-right: 20px; }
    ul.breadcrumbs li:last-child {
      background: none; }
    ul.breadcrumbs li a {
      color: #999999; }
      ul.breadcrumbs li a:hover {
        color: #B4894B; }

.page-banner ul.breadcrumbs li {
  color: white; }
  .page-banner ul.breadcrumbs li a {
    color: white; }

@media all and (max-width: 991px) {
  #information-page ul.breadcrumbs {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 30px;
    margin-bottom: 20px; } }

form {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #efeeeb;
  padding: 30px;
  margin-top: 20px; }
  form:after {
    content: " ";
    display: block;
    clear: both; }
  form .section-title {
    margin-bottom: 0;
    padding-bottom: 10px; }
  form input {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #B4894B;
    text-transform: uppercase;
    line-height: 22px;
    color: #656565;
    margin-bottom: 25px; }
    form input:after {
      content: " ";
      display: block;
      clear: both; }
    form input:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; }
    @media all and (max-width: 767px) {
      form input:nth-child(n) {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  form button {
    display: block;
    background-color: transparent;
    border: 1px solid #B4894B;
    border-radius: 3px;
    text-transform: uppercase;
    color: #B4894B;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    transition-property: color, background;
    transition: 0.3s ease; }
    form button:hover {
      color: #efeeeb;
      background: #B4894B; }

.modal-wrap form {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .modal-wrap form:after {
    content: " ";
    display: block;
    clear: both; }
  .modal-wrap form input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

.slider-arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slider-arrows .slide-prev, .slider-arrows .slide-next, .slider-arrows .client-slider-container .client-slider-arrows .slide-next, .client-slider-container .client-slider-arrows .slider-arrows .slide-next {
    position: absolute;
    left: 54px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    overflow: hidden;
    text-indent: -9999px;
    padding: 0;
    transition: border 0.3s ease; }
    .slider-arrows .slide-prev:hover, .slider-arrows .slide-next:hover {
      border: 1px solid white; }
    .slider-arrows .slide-prev::before, .slider-arrows .slide-next::before, .slider-arrows .client-slider-container .client-slider-arrows .slide-next::before, .client-slider-container .client-slider-arrows .slider-arrows .slide-next::before {
      content: "";
      background-image: url(../images/slider-arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 38px;
      height: 38px;
      display: block;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .slider-arrows .slide-next {
    left: auto;
    right: 54px;
    -webkit-transform: translateY(-50%) rotate(225deg);
    -ms-transform: translateY(-50%) rotate(225deg);
    transform: translateY(-50%) rotate(225deg); }

.slider-dots {
  position: absolute;
  bottom: 30px;
  width: 100%; }
  .slider-dots .slick-dots {
    text-align: center; }
    .slider-dots .slick-dots li {
      display: inline-block;
      height: 16px;
      width: 16px;
      text-align: center;
      margin: 0 10px; }
      .slider-dots .slick-dots li button {
        position: relative;
        width: 16px;
        height: 16px;
        padding: 0;
        border: 2px solid transparent;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        text-indent: -99999px;
        overflow: hidden;
        background-color: transparent;
        font-size: 0; }
        .slider-dots .slick-dots li button::before {
          content: "";
          position: absolute;
          display: block;
          background-color: #fff;
          width: 8px;
          height: 8px;
          opacity: 0.4;
          top: 2px;
          left: 2px;
          transition: opacity 0.3s ease; }
        .slider-dots .slick-dots li button:hover::before {
          opacity: 1; }
    .slider-dots .slick-dots li.slick-active button {
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      background-color: transparent;
      transition: background 0.3s ease; }
      .slider-dots .slick-dots li.slick-active button::before {
        opacity: 0; }
      .slider-dots .slick-dots li.slick-active button:hover::before {
        opacity: 1; }

.main-slider-container {
  position: relative;
  width: 100%;
  padding: 0; }
  @media all and (max-width: 991px) {
    .main-slider-container {
      margin-top: 61px; } }
  .main-slider-container .main-slide {
    width: 100%;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab; }
    .main-slider-container .main-slide .main-slide-img {
      width: 100%;
      height: 500px;
      background-size: cover; }
      .main-slider-container .main-slide .main-slide-img::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(51, 51, 51, 0.4); }
      @media all and (max-width: 767px) {
        .main-slider-container .main-slide .main-slide-img {
          height: 320px; } }
      .main-slider-container .main-slide .main-slide-img img {
        position: relative;
        width: 100%; }
    .main-slider-container .main-slide .main-slide-desc {
      padding-left: calc(280px / 2);
      width: 60%;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media all and (max-width: 991px) {
        .main-slider-container .main-slide .main-slide-desc {
          width: 100%; } }
      @media all and (max-width: 767px) {
        .main-slider-container .main-slide .main-slide-desc {
          text-align: center;
          padding: 0 8%; } }
      .main-slider-container .main-slide .main-slide-desc .slide-title {
        position: relative;
        font-size: 60px;
        line-height: 60px;
        font-weight: bold;
        padding-bottom: 30px;
        margin-bottom: 20px; }
        @media all and (max-width: 767px) {
          .main-slider-container .main-slide .main-slide-desc .slide-title {
            font-size: 30px;
            line-height: 32px; } }
        .main-slider-container .main-slide .main-slide-desc .slide-title::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 40px;
          height: 2px;
          background: #B4894B; }
          @media all and (max-width: 767px) {
            .main-slider-container .main-slide .main-slide-desc .slide-title::after {
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }
      .main-slider-container .main-slide .main-slide-desc p {
        color: #fff; }
  @media all and (max-width: 767px) {
    .main-slider-container .slider-arrows {
      display: none; } }
  @media all and (max-width: 767px) {
    .main-slider-container .slider-dots {
      bottom: 20px; } }

.client-slider-container {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 60px; }
  .client-slider-container .client-slider {
    padding: 0 50px; }
    @media all and (max-width: 600px) {
      .client-slider-container .client-slider {
        padding: 0; } }
    .client-slider-container .client-slider .client-slide {
      border: 1px solid #ccc;
      text-align: center;
      height: 140px;
      margin: 0 10px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .client-slider-container .client-slider-arrows .slide-prev, .client-slider-container .client-slider-arrows .slide-next {
    border: 1px solid rgba(101, 101, 101, 0.3);
    left: 0; }
    .client-slider-container .client-slider-arrows .slide-prev::before, .client-slider-container .client-slider-arrows .slide-next::before {
      background-image: url(../images/slider-arrow-dark.svg); }
    .client-slider-container .client-slider-arrows .slide-prev:hover, .client-slider-container .client-slider-arrows .slide-next:hover {
      border: 1px solid #999999; }
  .client-slider-container .client-slider-arrows .slide-next {
    left: auto;
    right: 0;
    -webkit-transform: translateY(-50%) rotate(225deg);
    -ms-transform: translateY(-50%) rotate(225deg);
    transform: translateY(-50%) rotate(225deg); }
  .client-slider-container .client-slider-dots {
    bottom: -30px; }
    .client-slider-container .client-slider-dots .slick-dots li button::before {
      background-color: #999999; }
    .client-slider-container .client-slider-dots .slick-dots li.slick-active button {
      border: 2px solid #999999; }

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 20px;
  height: 20px;
  padding: 0px;
  background-image: url("../images/close-cross.svg");
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.9;
  transition: opacity 300ms ease; }
  .close-modal:hover {
    opacity: 1; }

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  height: 100%;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(121, 90, 45, 0.95);
  opacity: 0; }
  .modal .modal-wrap {
    position: relative;
    display: block;
    width: 80%;
    max-width: 600px;
    padding: 30px 30px 20px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    background-color: #efeeeb;
    margin: 0 auto; }
    .modal .modal-wrap .section-title {
      padding-bottom: 0;
      margin-bottom: 0; }
    .modal .modal-wrap form {
      margin: 0;
      padding: 0; }

.entrance-image {
  position: relative;
  display: block;
  width: 80%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }
  .entrance-image img {
    position: relative;
    width: 100%; }

.search-container {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  height: 100%;
  display: none;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: rgba(121, 90, 45, 0.95);
  opacity: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .search-container:after {
    content: " ";
    display: block;
    clear: both; }
  .search-container .close-search {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(../images/search-close.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: transparent;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    padding: 0;
    cursor: pointer;
    z-index: 9999; }
    .search-container .close-search:hover {
      opacity: 1; }
  .search-container .left-bar {
    width: 220px;
    height: 100vh;
    z-index: 99;
    opacity: 0.2; }
  .search-container .search-main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100vh; }
    .search-container .search-main .search-bar {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding-top: 87px;
      margin-bottom: 70px; }
      .search-container .search-main .search-bar input {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        height: 60px;
        display: block;
        background: rgba(93, 65, 24, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        background-image: url(../images/search.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 20px 50%;
        padding-left: 65px;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        padding-right: 20px; }
        .search-container .search-main .search-bar input::-webkit-input-placeholder {
          color: white; }
        .search-container .search-main .search-bar input::-moz-placeholder {
          color: white; }
        .search-container .search-main .search-bar input:-ms-input-placeholder {
          color: white; }
        .search-container .search-main .search-bar input::placeholder {
          color: white; }
    .search-container .search-main .search-content {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .search-container .search-main .search-content:after {
        content: " ";
        display: block;
        clear: both; }
      .search-container .search-main .search-content ul.diamond {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        margin-bottom: 40px; }
        .search-container .search-main .search-content ul.diamond:nth-child(3n) {
          width: 32.20339%;
          float: right;
          margin-right: 0; }
        .search-container .search-main .search-content ul.diamond .service-list-title {
          color: white; }
        .search-container .search-main .search-content ul.diamond li:nth-child(n) {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; }
        .search-container .search-main .search-content ul.diamond li a {
          color: white; }

/*# sourceMappingURL=main.css.map */