*
	outline: none
  outline-style: none
  box-sizing: border-box

body
  font-family: 'PT Sans', sans-serif
  font-size: 14px
  line-height: 18px
  text-align: left
  color: $darkgray
  background: $main-bg

// LINKS
a

// PARAGRAPHS
p

// LISTS
ul
	li
ul.ordered
  li
ul.dotted
  li
ul.diamond
  li

// BUTTONS
button
  border: none

// SECTIONS
section
  @include span(12)
  @include susy-clearfix
  position: relative
  float: left
  width: 100%
  padding: 50px 0

// MAIN
main
  @include span(12)
  display: block
  float: left
  width: 100%
  min-height: 100vh
  background-color: $main-bg
  position: relative
  width: 100%
  min-height: 100vh
  padding-left: 220px
  padding-bottom: 222px
  @media all and (max-width: $md)
    padding-left: 0