doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- ABOUT
      section.page-banner#about
        ul.breadcrumbs
          li: a(href="/") Главная
          li  О компании
        .wrap
          .page-title О компании
          .page-desc HEADS Consulting с 1995 года работает на российском рынке юридических и консалтинговых услуг и входит в ТОП-50 лучших юридических компаний России, согласно рейтингам «Право-300» и «КоммерсантЪ».
      //- content
      section#information-page
        .wrap
          .flex-layout
            .main-flex
              p Более 100 юристов компании разделяют непреложное обязательство предоставить самое высокое качество услуг с использованием всех возможных правовых инструментов в атмосфере, где одинаково важны командная работа, творческий подход, ответственность и эффективность решения задачи Клиента. С нами Вы реализуете самые амбициозные проекты.
              .section-title 3 Ключевые ценности, которые мы неукоснительно соблюдаем в работе с Клиентом:
              ul.diamond
                li Мы верим, что юридическая отрасль относится к благородному искусству, а возможность представлять Ваши интересы в суде – серьезная ответственность, поэтому в своей работе соблюдаем самые высокие этические стандарты.
                li Мы верим, что каждый Клиент уникален, поэтому придерживаемся данного принципа везде: и когда даем совет, и когда осуществляем полное сопровождение деятельности.
                li Мы верим, что наши Клиенты заслуживают самого высокого уровня оказания услуг: внимания к деталям, инновационного правового мышления,  ясного мыслеизложения, а главное, умения представлять сильные аргументы в спорных ситуациях.
              .section-title Опыт и знания
              p Решения HEADS Consulting охватывают полный жизненный цикл развития компании из ведущих отраслей экономики. Структура HEADS Consulting насчитывает 16 департаментов, управлений и отделов, которые оказывают услуги в различных областях права: как корпоративной поддержки, так и решения налоговых вопросов, привлечения инвестиций, бухгалтерского обслуживания, финансового брокериджа, земельно-имущественных отношений, сделок с недвижимостью, правового IT-консалтинга, лицензирования и сертификации, регулирования законодательства о конкуренции и рекламе, таможенного консалтинга, кадрового консалтинга и трудового права и др. Таким образом, в компании создается комплексный и структурный подход, позволяющий вести проект любой сложности.  
              p Отдельное направление деятельности компании – оказание юридической помощи физическим лицам в рамках налогового, трудового, семейного, жилищного, наследственного, земельного и других отраслей права. 
              p Успешным направлением деятельности HEADS Consulting является работа с иностранными компаниями: правовое регулирование международной торговли, правовой анализ договоров внешнеэкономической деятельности,   предоставление консультаций по вопросам заключения сделок с иностранным элементом и другие специализированные услуги. Из-за непростой ситуации для иностранных компаний в виду импортзамещения и введения  экономических и продуктовых ограничительных мер, HEADS Consulting предлагает специальные услуги в рамках ведения бизнеса, а также помощь и сопровождение при выходе на российский рынок в виду отличного знания особенностей иностранного законодательства.
              .section-title Принцип работы
              p Мы всегда применяем комплексный подход к решению любых задач, гарантируя:
              ul.diamond
                li Безупречное качество обслуживания.
                li Соблюдение всех договоренностей.
                li Конфиденциальность информации.
              .section-title Наши преимущества
              p Успешное сотрудничество с государственными и муниципальными органами исполнительной власти, общественными организациями и научно-исследовательскими центрами:
              ul.diamond
                li Министерство экономического развития РФ
                li Министерство природных ресурсов и экологии РФ
                li Федеральное агентство по управлению государственным имуществом
                li Федеральная служба по экологическому, технологическому и атомному надзору
                li Федеральная налоговая служба
                li Федеральная служба государственной регистрации, кадастра и картографии
                li Федеральная служба судебных приставов
                li Федеральная служба природопользования и экологии
                li Правительство Москвы
                li ГКН Государственный кадастр недвижимости
                li Федеральная служба по регулированию алкогольного рынка
                li Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций
                li Российская академия наук
                li Научно-производственное объединение РТИ
                li Центр экспертизы и координации информатизации
                li Общероссийской общественной организации «Ассоциация работников правоохранительных органов и спецслужб Российской Федерации»
                li Союз «Московская торгово-промышленная палата РФ»
              .section-title Сотрудничество с банками:
              ul.diamond  
                li Бинбанк
                li Банк «Восточный»
                li Альфа-Банк
                li Московский Индустриальный Банк
                li Промсвязьбанк
                li Райффайзенбанк
                li Банк «Точка»
              p Прозрачная схема работы, понятная система расчетов, соответствие международным стандартам качества ISO, застрахованная профессиональная ответственность компании – лишь малая часть преимуществ, которые Вы безусловно оцените, работая с нами.
            .flex-side
              .side-section
                .section-title Команда HEADS Consulting
                ul.team-side
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
                  li
                    a(href="person.html").article-author
                      .author-img
                        img(src="./images/bazykin-thumb.jpg", alt="alt")
                      .author-name
                        p Александр Базыкин
                        span Управляющий партнёр
              .side-section
                .section-title Популярные услуги
                ul.diamond.linked-list
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                  li: a(href="service.html") Оспаривание кадастровой стоимости
                a.all-items(href="services.html") Все услуги         
