doctype html
html
  include partials/head
  body
    include partials/header
    main
      section#information-page
        ul.breadcrumbs
          li: a(href="/") Главная
          li: a(href="faq.html") Вопросы и ответы
          li Каким образом будет сдаваться наша отчетность? Какие подтверждающие сдачу отчетности документы мы получим?
        .wrap
          .flex-layout
            .main-flex
              .page-title Каким образом будет сдаваться наша отчетность? Какие подтверждающие сдачу отчетности документы мы получим?
              p В состав услуг по ведению учета включается сдача бухгалтерской и налоговой отчетности по телекоммуникационным каналам связи. Никаких отдельных договоров на сдачу отчетности заключать не требуется.
              p Вам будет необходимо выдать нам доверенность на право использования ЭЦП, на основании которой мы будем подписывать отчетность в течение срока действия договора оказания услуг (основание – п.1 ст. 10 ФЗ №63-ФЗ от 06.04.2011 «Об электронной подписи»).
              p Подтверждением сдачи отчетности по телекоммуникационным каналам связи служат квитанции о принятии отчетности и протоколы принятия ее налоговым органом, отделением пенсионного фонда, фондом социального страхования.
              p В исключительных случаях отчетность может быть сдана по почте или лично нашим курьером.
            .flex-side        
              .section-title Популярные услуги
              ul.diamond.linked-list
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
              a.all-items(href="services.html") Все услуги         
      //- popular-services
      section#main-popular-services
        .wrap
          .section-title.bottom-border Популярные услуги
          ul.diamond
            li: a(href="service.html") Оспаривание кадастровой стоимости
            li: a(href="service.html") Абонентское бухгалтерское обслуживание
            li: a(href="service.html") Адвокат по арбитражным делам
            li: a(href="service.html") Уменьшение налога на землю
            li: a(href="service.html") Ликвидация организации
            li: a(href="service.html") Налоговый консультант
            li: a(href="service.html") Изменение ВРИ
            li: a(href="service.html") Банкротство юридических лиц
            li: a(href="service.html") Юрист по налоговому праву
            li: a(href="service.html") Разрешение на строительство
            li: a(href="service.html") Проверка земельного участка
            li: a(href="service.html") Юридический аутсорсинг
            li: a(href="service.html") Юридическое заключение по недвижимости
            li: a(href="service.html") Арбитражные споры
            li: a(href="service.html") Абонентское юридическое обслуживание
          a.all-items(href="services.html") все 118 услуг

      include partials/footer
