doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- BLOG
      section.page-banner#blog
        ul.breadcrumbs
          li: a(href="/") Главная
          li Блог
        .wrap
          .page-title Блог
          .page-desc Для наших клиентов мы готовы предоставить грамотный консалтинг и комплексные решения по большому количеству отраслей
      section#comments-content
        .wrap            
          .article-container
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .article-item(href="post.html")
              .article-img
                a(href="post.html")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .article-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="post.html").article-description
                .article-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.article-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
          .page-navigation
            ul
              li: a(href="#") 1
              li: a(href="#") 2
              li: a(href="#") 3
              li: a(href="#") 4
              li: a(href="#") 5
              li: a(href="#") ...
              li: a(href="#") 35

      include partials/footer
