doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- INDEX
      section.main-slider-container
        .main-slider          
          .main-slide
            .main-slide-img(style="background-image: url(./images/slide-01.jpg)")
            .main-slide-desc
              p.slide-title Более 20 лет на <br> российском рынке
              p HEADS Consulting с 1995 года работает на российском рынке <br> юридических и консалтинговых услуг и входит в ТОП-50 лучших <br> юридических компаний России              
          .main-slide
            .main-slide-img(style="background-image: url(./images/slide-01.jpg)")
            .main-slide-desc
              p.slide-title Более 20 лет на <br> российском рынке
              p HEADS Consulting с 1995 года работает на российском рынке <br> юридических и консалтинговых услуг и входит в ТОП-50 лучших <br> юридических компаний России              
          .main-slide
            .main-slide-img(style="background-image: url(./images/slide-01.jpg)")
            .main-slide-desc
              p.slide-title Более 20 лет на <br> российском рынке
              p HEADS Consulting с 1995 года работает на российском рынке <br> юридических и консалтинговых услуг и входит в ТОП-50 лучших <br> юридических компаний России              
          .main-slide
            .main-slide-img(style="background-image: url(./images/slide-01.jpg)")
            .main-slide-desc
              p.slide-title Более 20 лет на <br> российском рынке
              p HEADS Consulting с 1995 года работает на российском рынке <br> юридических и консалтинговых услуг и входит в ТОП-50 лучших <br> юридических компаний России              
        .slider-arrows.main-slider-arrows
        .slider-dots.main-slider-dots
      //- services-filter
      section#main-filter
        .wrap
          .section-heading.white Услуги heads consulting
          .section-subheading.white Для наших клиентов мы готовы предоставить грамотный консалтинг и комплексные <br>решения по большому количеству отраслей
          .services-filter-container
            .dropdown-container
              .dropdown-toggle
                .dropdown-text Для кого
                .dropdown-chevron
              .dropdown-list
                p.dropdown-title Для кого
                ul
                  li: a(href="#") Для физических лиц
                  li: a(href="#") Для юридических лиц
            .dropdown-container
              .dropdown-toggle
                .dropdown-text Направление
                .dropdown-chevron
              .dropdown-list
                p.dropdown-title Направление
                ul
                  li: a(href="#") Административно-правовая защита
                  li: a(href="#") Бухгалтерский аутсорсинг
                  li: a(href="#") Взыскание задолженности за ЖКУ
                  li: a(href="#") Взыскание задолженности по договорам
                  li: a(href="#") Договорное право
                  li: a(href="#") Земельно-имущественные отношения
                  li: a(href="#") Аккредитация представительства иностранным компаниям
                  li: a(href="#") Интеллектуальная собственность и товарные знаки
                  li: a(href="#") Досудебное разрешение споров и медиация
            button.submit Применить параметры 
      //- popular-services
      section#main-popular-services
        .wrap
          .section-title.bottom-border Популярные услуги
          ul.diamond
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Абонентское бухгалтерское обслуживание
            li: a(href="#") Адвокат по арбитражным делам
            li: a(href="#") Уменьшение налога на землю
            li: a(href="#") Ликвидация организации
            li: a(href="#") Налоговый консультант
            li: a(href="#") Изменение ВРИ
            li: a(href="#") Банкротство юридических лиц
            li: a(href="#") Юрист по налоговому праву
            li: a(href="#") Разрешение на строительство
            li: a(href="#") Проверка земельного участка
            li: a(href="#") Юридический аутсорсинг
            li: a(href="#") Юридическое заключение по недвижимости
            li: a(href="#") Арбитражные споры
            li: a(href="#") Абонентское юридическое обслуживание
          a.all-items(href="#") все 118 услуг
      //- clients&partners
      section
        .wrap
          p.section-heading Клиенты и партнеры
          p.section-subheading Для наших клиентов мы готовы предоставить грамотный консалтинг и комплексные<br> решения по большому количеству отраслей
          .client-slider-container
            .client-slider          
              .client-slide
                img(src="./images/client-alfabank.svg", alt="alt")
              .client-slide
                img(src="./images/client-binbank.svg", alt="alt")
              .client-slide
                img(src="./images/client-alfabank.svg", alt="alt")
              .client-slide
                img(src="./images/client-binbank.svg", alt="alt")
              .client-slide
                img(src="./images/client-alfabank.svg", alt="alt")
              .client-slide
                img(src="./images/client-binbank.svg", alt="alt")
              
            .client-slider-arrows.slider-arrows
            .client-slider-dots.slider-dots
          
          .full-page-link
            .page-button
              a(href="#") все клиенты
      //- banner-advantages
      section#advantages-banner
        .advantages-background
        .advantage-items
          .advantage
            .advantage-head 20
            p лет на российском рынке
          .advantage
            .advantage-head 600
            p выигранных дел
          .advantage
            .advantage-head 700
            p довольных клиентов
      //- comments
      section#comments-section
        .wrap
          p.section-heading Комментарии в СМИ
          p.section-subheading Для наших клиентов мы готовы предоставить грамотный консалтинг и комплексные решения по большому количеству отраслей
          .comments-container
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
                
          .full-page-link
            .page-button
              a(href="#") все комментарии
      //- blog
      section
        .wrap
          p.section-heading Блог
          p.section-subheading Для наших клиентов мы готовы предоставить грамотный консалтинг и комплексные решения по большому количеству отраслей          
          .comments-container
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
                
          .full-page-link
            .page-button
              a(href="#") все статьи
      //- SERVICES
      section.page-banner#services
        .wrap
          ul.breadcrumbs
            li: a(href="#") Главная
            li Услуги
          .page-title Услуги Heads Consulting
          .page-desc Специалисты HEADS Consulting помогут вернуть права, оспорят решения ДПС, урегулируем споры с страховыми компаниями, обжалуем неправомерные решения государственных органов и социальных служб.
      //- services-filter
      section
        .services-filter-container
          .section-title.white Популярные услуги
          .dropdown-container
            .dropdown-toggle
              .dropdown-text Для кого
              .dropdown-chevron
            .dropdown-list
              p.dropdown-title Для кого
              ul
                li: a(href="#") Для физических лиц
                li: a(href="#") Для юридических лиц
          .dropdown-container
            .dropdown-toggle
              .dropdown-text Направление
              .dropdown-chevron
            .dropdown-list
              p.dropdown-title Направление
              ul
                li: a(href="#") Административно-правовая защита
                li: a(href="#") Бухгалтерский аутсорсинг
                li: a(href="#") Взыскание задолженности за ЖКУ
                li: a(href="#") Взыскание задолженности по договорам
                li: a(href="#") Договорное право
                li: a(href="#") Земельно-имущественные отношения
                li: a(href="#") Аккредитация представительства иностранным компаниям
                li: a(href="#") Интеллектуальная собственность и товарные знаки
                li: a(href="#") Досудебное разрешение споров и медиация
          button.submit Применить параметры 
      //- popular-services
      section#popular-services
        .wrap
          .section-title Популярные услуги
          ul.diamond
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Абонентское бухгалтерское обслуживание
            li: a(href="#") Адвокат по арбитражным делам
            li: a(href="#") Уменьшение налога на землю
            li: a(href="#") Ликвидация организации
            li: a(href="#") Налоговый консультант
            li: a(href="#") Изменение ВРИ
            li: a(href="#") Банкротство юридических лиц
            li: a(href="#") Юрист по налоговому праву
            li: a(href="#") Разрешение на строительство
            li: a(href="#") Проверка земельного участка
            li: a(href="#") Юридический аутсорсинг
            li: a(href="#") Юридическое заключение по недвижимости
            li: a(href="#") Арбитражные споры
            li: a(href="#") Абонентское юридическое обслуживание
      //- service-list
      section#all-services
        .wrap
          ul.diamond
            p.service-list-title Сделки с недвижимостью
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
          ul.diamond
            p.service-list-title Сделки с недвижимостью
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
          ul.diamond
            p.service-list-title Сделки с недвижимостью
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
          ul.diamond
            p.service-list-title Регистрация, реорганизация и ликвидация  бизнеса
            li: a(href="#") Юрист по корпоративному праву
            li: a(href="#") Юрист в сфере бизнеса
            li: a(href="#") Регистрация юридического лица
            li: a(href="#") Регистрация обособленных подразделений
            li: a(href="#") Регистрация некоммерческих организаций
            li: a(href="#") Внесение изменений в учредительные документы
            li: a(href="#") Смена учредителя ООО
            li: a(href="#") Смена генерального директора в ООО
            li: a(href="#") Смена юридического адреса организации
            li: a(href="#") Смена наименования организации
            li: a(href="#") Регистрация обособленных подразделений
            li: a(href="#") Выход из состава участников ООО
            li: a(href="#") Увеличение, уменьшение установного капитала
            li: a(href="#") Восстановление организации в ЕГРЮЛ
            li: a(href="#") Изменение видов A1:E299 (ОКВЭД)
            li: a(href="#") Регистрация иностранных компаний
            li: a(href="#") Реорганизация юридического лица
            li: a(href="#") Преобразование компании
            li: a(href="#") Ликвидация бизнеса
            li: a(href="#") Банкротство юридических лиц
          </ul>
          ul.diamond
            p.service-list-title Юридическое заключение по недвижимости
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация  юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
          </ul>
          ul.diamond
            p.service-list-title Сделки с недвижимостью
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
          ul.diamond
            p.service-list-title Сделки с недвижимостью
            li: a(href="#") Сопровождение сделок с недвижимостью
            li: a(href="#") Консультация юриста по недвиждимости
            li: a(href="#") Оспаривание кадастровой стоимости
            li: a(href="#") Право собственности на недвижимость
            li: a(href="#") Купля продажа недвижимости
            li: a(href="#") Договор дарения недвижимости
            li: a(href="#") Выкуп нежилых помещений
      
      //- SERVICE
      section
        .wrap
          ul.breadcrumbs
            li: a(href="#") Главная
            li Услуги
            li Оспаривание кадастровой стоимости
          .flex-layout
            .main-flex
              .page-title Оспаривание кадастровой стоимости
              p С 1 января 2017 г вступает в силу Федеральный закон «О внесении изменений в часть первую Гражданского кодекса Российской Федерации и отдельные законодательные акты Российской Федерации» от 03.07.2016 N 315-ФЗ (далее Закон) система объектов недвижимости пополнится новым объектом – машино-место. Это значит, что машино-места поступят в гражданский оборот в качестве самостоятельных объектов.
              p До первого 1 января 2017 г. машино-место не являлось самострельным объектом недвижимости, так не обладало необходимыми характеристиками, а именно не ограничено строительными конструкциями (п. 14 ч. 2 ст. 2 Федерального закона от 30.12.2009 N 384-ФЗ «Технический регламент о безопасности зданий и сооружений»). Данную позицию подтвердил Минэкономразвития России, своим письмом от 26.05.2015 N ОГ-Д23-7475 «О рассмотрении обращения».
              p 
                b Однако, несмотря на это, в г. Москве до 2015 года получила распространение практика регистрации права собственности на машино-место как на помещение.
              p После 2015 года, если машино-место не отвечало требованиям, предъявляемым к помещениям, и не обладало характеристиками, позволяющими отнести его к объектам недвижимости, то регистрировалась общая долевая собственность на здания, где находиться машино-место. Доли в праве собственности определялись пропорционально размерам машино-мест, находящихся в таких зданиях, помещениях. 
              p 
                b Сейчас, понятие «машино-место» закреплено в статье 1 Градостроительного кодекса РФ
              p Машино-место – это часть здания или сооружения, которая предназначена исключительно для размещения транспортных средств, не ограничена либо частично ограничена строительной или иной ограждающей конструкцией и границы которой описаны в установленном законодательством о государственном кадастровом учете порядке.  
              p Все объекты, получившие отражение в ЕГРП как помещения и имеющие характеристики машино-места, признаются таковыми без внесения каких-либо изменений в соответствующие разделы реестра. Владельцы таких машино-мест вправе в заявительном порядке внести изменения в ЕГРН, суть которых будет состоять в том, что поменяются характеристики описания этого объекта (было помещение, станет машино-место).
              p Владельцы долей в праве собственности на нежилые помещения и здания, которым соответствует право пользования машино-местом, могут их преобразовать в машино-места. Стоит рассмотреть подробнее, целесообразно ли такое преобразование или нет.
              p Применение режима общей долевой собственности на здание или помещение, в котором размещены машино-места, как это было предусмотрено, имеет свои сложности. Во-первых, необходимо соблюдать право преимущественной покупки другими собственниками в случае намерения реализовать машино-место (ст. 250 ГК РФ). Тут есть определенные новеллы, предусмотренные Законом, в том случае если число участников долевой собственности на недвижимое имущество превышает двадцать, вместо извещения в письменной форме остальных участников долевой собственности, продавцом может быть размещено извещение об этом на официальном сайте органа регистрации права. 
              p Даже при наличии такой нормы, оборот машино мест через доли в праве ограничен. Продавец, после уведомления других сособственников о продажи доли, обязан ждать 30 дней после уведомления. 
              p Во-вторых, порядок пользования нежилым помещением определяется соглашением с другими собственниками. При недостижении согласия порядок пользования собственностью будет определяться по решению суда (ст. 247 ГК РФ). В данном соглашении предусмотрено, кто каким местом пользуется, а так же указанно, что все то, что не является машино-местами находится в совместном пользовании. Это соглашение, по общему правило, распространяется только на участников, которые его подписали. На новых собственников долевой собственности оно не распространяется и он не обязан соблюдать фактический порядок пользования данным имуществом.  
              p
                b Признания машино-место самостоятельным объектом решает две эти проблемы
              p Условия, при которых возможно выдел доли в праве в отдельное машино-место:
              ul.ordered
                li
                  p 1.  Право собственности на долю должно быть зарегистрировано в ЕГРП.
                li 
                  p 2.  Имеется соглашение, определяющие порядок пользования недвижимым имуществом, находящимся в общей долевой  собственности, из которого следует, что собственнику принадлежит конкретное машино-мест или имеется решение общего собрания, определяющее порядок владения и пользования общей долевой собственностью.
                li
                  p 3. Необходимо провести кадастровый учет машино-места. Министерство экономического развития РФ утвердило приказ № 792 от 07.12.2016 года, устанавливающий размеры машино-места:
              ul.dotted
                li
                  p Минимально допустимые размеры машино-места - 5,3 x 2,5 м.
                li
                  p Максимально допустимые размеры машино-места - 6,2 x 3,6 м.
              p Границы машино-место должны определяться или путем нанесения краски на пол, или наклейки специальных лент. Границы машино-место не должны пересекаться друг с другом. 
              p После сбора всех документов, на основании заявления собственника доли, осуществляется регистрация права собственности на машино-место, как на отдельный объект недвижимости и доля в праве собственности прекращается. 
              p До того, как все участники общей долевой собственности конвертировали свои доли в  машино-места , владение и пользование местами общего пользования (проезды, проходы и так далее), осуществляется совместно. После того, как последний участник долевой собственности конвертирует свою долю в машино-место, право общей долевой собственности прекратится. После этого, все проходы и проезды, а так же помещения необходимые для эксплуатации здания/помещения, в котором находятся машино-места, становятся общим имуществом собственников машино-место.
              form(action="")
                p Мы заинтересованы в долгосрочном сотрудничестве с Вами, поэтому приложим все усилия и знания Компании для достижения наилучшего результата в самые сжатые сроки!
                p
                  b Запись на консультацию по телефону +7 (495) 988-97-98 или через форму на сайте:
                input(type="text" name="name")
                input(type="text" name="phone")
                button(type="submit" value="записаться")
            .flex-side
              .section-title Налоговое право
              ul.diamond
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
                li: a(href="#") Налоговый консультант
              .section-title Популярные услуги
              ul.diamond.linked-list
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
              a.all-items(href="#") Все услуги         

      //- COMMENTS
      section.page-banner#comments
        .wrap
          ul.breadcrumbs
            li: a(href="#") Главная
            li Комментарии в СМИ
            
          .comments-container
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
            .comment-item(href="#")
              .comment-img
                a(href="#")
                  img(src="./images/comment-img-01.jpg", alt="alt")
                .source-logo
                  img(src="./images/izvestiya.svg", alt="alt")
              .comment-author
                .author-img
                  img(src="./images/bazykin-thumb.jpg", alt="alt")
                .author-name
                  p Александр Базыкин
                  span Управляющий партнёр
              a(href="#").comment-description
                .comment-title Последний транш — Боснии и Герцеговине — будет выплачен в ближайшие месяцы
                p.comment-text Россия завершает расчеты со странами, которым был должен Советский Союз. Как рассказал «Известиям» источник в правительстве, соглашение о погашении последнего долга на $125,2 млн готово и ожидает подписания. По его оценке …
          .page-navigation
            ul
              li 
                a(href="#") 1
              li 
                a(href="#") 2
              li 
                a(href="#") 3
              li 
                a(href="#") 4
              li 
                a(href="#") 5
              li 
                a(href="#") ...
              li 
                a(href="#") 35
      
      //- COMMENT
      section
        .wrap
          ul.breadcrumbs
            li: a(href="#") Главная
            li Комментарии в СМИ
            li Оспаривание кадастровой стоимости
          .flex-layout
            .main-flex
              .page-title Руководитель управления по корпоративному праву Heads Consulting Кристина Шаломеева поясняет детали сделки с «Гротекс»
              p
                b Baring Vostok инвестировал в фармзавод основателя «Ленты» Олега Жеребцова
              p 
                b Треть предприятия могла обойтись инвестору в 2,5 млрд рублей
              img(src="images/comment-detail.png", alt="")
              p Гендиректор и основатель фармацевтического завода «Гротекс» (марка Solopharm) Олег Жеребцов привлек первого инвестора. Им стали фонды семейства Baring Vostok, сообщил отраслевой портал Vademecum. Сам бизнесмен, а также пресс-служба Baring Vostok Capital Partners Group подтвердили: фонды Baring Vostok действительно стали соинвесторами «Гротекса». По словам Жеребцова, он остановился на Baring Vostok после раунда переговоров с инвестфондами: на выбор повлияли репутация и опыт компании.
              p Деталей сделки стороны не раскрывают. Структуры Baring Vostok получили 33% петербургской компании в конце 2016 г., знает близкий к ней человек. Единственный владелец «Гротекса» – кипрская Nelovia, согласно ЕГРЮЛ. С 13 декабря 2016 г. 33,3% последней, в свою очередь, принадлежат BV Investment Vehicle, хотя до 1 декабря единственным владельцем Nelovia являлся сам Жеребцов, согласно кипрскому реестру. По данным ЕГРЮЛ, также 33,3% российской компании в залоге первой очереди у BV Investment Vehicle. Залог действует до момента исполнения обеспеченных обязательств, отмечается там же. BV Investment Vehicle – структура Baring Vostok Capital Partners Group: директор кипрской компании Андрей Костяшкин также руководит входящей в группу «Бэринг восток менеджер холдинг лимитед».
              p Формулировка о залоге означает, что залогодержатель в лице BV Investment Vehicle установил ограничения по распоряжению долями в «Гротексе», поясняет руководитель управления по корпоративному праву HEADS Consulting Кристина Шаломеева.
              p Кто инвестор
              p Жеребцов в 1999 г. основал сеть гипермаркетов «Лента», спустя 10 лет после акционерного конфликта продал 35,4% ритейлера TPG Capital и «ВТБ капиталу» за $110 млн. В 2010 г. Жеребцов основал «Гротекс»; завод Solopharm заработал в 2014 г. Предприятие выпускает жидкие лекарственные формы (ампулы, флаконы, аэрозольные баллоны, инъекции, глазные капли, спреи для лечения заболеваний носа и др.). Инвестиции в строительство первых двух очередей завода составили 74 млн евро. В марте 2017 г. введена в эксплуатацию третья очередь, инвестиции в нее, по словам Жеребцова, около 50 млн евро.
              p С вводом третьей очереди мощности завода утроились до 370 млн единиц продукции в год, предприятие полностью загружено, сообщил Жеребцов. По данным «СПАРК-Интерфакса», выручка «Гротекса» за 2015 г. – 1,5 млрд руб., чистый убыток – 250 млн руб. (показателей за 2016 г. еще нет). Цель Solopharm – занять до 40% российского рынка жидких стерильных лекарственных препаратов, говорит Жеребцов. Текущую долю «Гротекса» по различным препаратам он оценивает в 15–20%.
              p Гендиректор DSM Group Сергей Шуляк считает, что покупатель заплатил за 33% «Гротекса» не менее трети инвестиций в строительство завода, т. е. $40 млн, или около 2,4 млрд руб. по курсу ЦБ. Поскольку проект пока не окупился и не показывает чистой прибыли, стоимость купленной доли «Гротекса» следует рассчитывать исходя из инвестиций в строительство предприятия, считает также начальник аналитического отдела ИК «ЛМС» Дмитрий Кумановский. Его оценка 33% компании – 2,5–2,7 млрд руб.
              p Сделка с «Гротексом» – одна из наиболее заметных в корпоративном секторе в фармотрасли за последнее время, отмечает руководитель «Quintiles IMS Россия и СНГ» Николай Демидов. При этом сделка не типичная для современной фарминдустрии, где большинство сделок заключается между отраслевыми инвесторами и развитыми бизнесами, оговаривается он: проекту «Гротекс» всего семь лет, большую часть которых заняло строительство завода. Несмотря на относительно слабое развитие российского фармрынка, он очень привлекателен для зарубежных инвесторов, в том числе благодаря большим перспективам со стороны импортозамещения, уверен Шуляк. У Solopharm одно из лучших производств в России, которое создавалось с учетом программы импортозамещения, отмечает и заместитель гендиректора Stada CIS Иван Глушков. По его словам, если с новым заводом Solopharm сможет освоить производство тех форм, которые востребованы в госсегменте, то выручка от такого бизнеса сможет составить до 20–25 млрд руб.
              p.date-published Опубликованно в газете Ведомости 15 марта 2017 года
            .flex-side
              .section-title Последнии Комментарии в СМИ
              ul.diamond.linked-list
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="#") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
              a.all-items(href="#") Все комментарии в сми
              .section-title Популярные услуги
              ul.diamond.linked-list
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
                li: a(href="#") Оспаривание кадастровой стоимости
              a.all-items(href="#") Все услуги
      
      //- ABOUT
      section.page-banner#about
        ul.breadcrumbs
          li: a(href="#") Главная
          li О компании
        .wrap
          .flex-layout
            .main-flex
          .flex-side

    include partials/footer
