doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- LOYALTY
      section.page-banner#loyalty
        ul.breadcrumbs
          li: a(href="/") Главная
          li Программа лояльности
        .wrap
          .page-title Программа лояльности
          .page-desc Специально для удобства наших клиентов компания HEADS Consulting разработала уникальное сервисное предложение — дисконтные карты. Держателями карт стали уже более 1000 человек, оценивших высокое качество и оперативность нашего обслуживания.
      //- loyalty card list
      section
        .wrap
          .loyalty-card-container
            img(src="images/loyalty-VIP.png", alt="")
            .section-title.border-bottom HEADS VIP
            p Данная карта выдаётся клиентам, заключившим договор на абонентское обслуживание по тарифу «АБСОЛЮТ».
            p: b Держатели данной карты имеют дополнительные привилегии в виде:
            ul.diamond
              li 15% скидки на все услуги, предоставляемые в Компании HEADS Consulting.
              li Неограниченного количества бесплатных консультаций по личным вопросам.
              li Участие в бонусной программе HEADS Consulting.
              li Московский Индустриальный Банк
              li Промсвязьбанк
              li Райффайзенбанк
              li Банк «Точка»
          .loyalty-card-container
            img(src="images/loyalty-platinum.png", alt="")
            .section-title.border-bottom HEADS PLATINUM
            p Данная карта выдаётся клиентам, заключившим договор на абонентское обслуживание по тарифу «АБСОЛЮТ».
            p: b Держатели данной карты имеют дополнительные привилегии в виде:
            ul.diamond
              li 15% скидки на все услуги, предоставляемые в Компании HEADS Consulting.
              li Неограниченного количества бесплатных консультаций по личным вопросам.
              li Участие в бонусной программе HEADS Consulting.
              li Московский Индустриальный Банк
              li Промсвязьбанк
              li Райффайзенбанк
              li Банк «Точка»
          .loyalty-card-container
            img(src="images/loyalty-gold.png", alt="")
            .section-title.border-bottom HEADS GOLD
            p Данная карта выдаётся клиентам, заключившим договор на абонентское обслуживание по тарифу «АБСОЛЮТ».
            p: b Держатели данной карты имеют дополнительные привилегии в виде:
            ul.diamond
              li 15% скидки на все услуги, предоставляемые в Компании HEADS Consulting.
              li Неограниченного количества бесплатных консультаций по личным вопросам.
              li Участие в бонусной программе HEADS Consulting.
              li Московский Индустриальный Банк
              li Промсвязьбанк
              li Райффайзенбанк
              li Банк «Точка»
          .loyalty-card-container
            img(src="images/loyalty-silver.png", alt="")
            .section-title.border-bottom HEADS SILVER
            p Данная карта выдаётся клиентам, заключившим договор на абонентское обслуживание по тарифу «АБСОЛЮТ».
            p: b Держатели данной карты имеют дополнительные привилегии в виде:
            ul.diamond
              li 15% скидки на все услуги, предоставляемые в Компании HEADS Consulting.
              li Неограниченного количества бесплатных консультаций по личным вопросам.
              li Участие в бонусной программе HEADS Consulting.
              li Московский Индустриальный Банк
              li Промсвязьбанк
              li Райффайзенбанк
              li Банк «Точка»
      //- popular-services
      section#main-popular-services
        .wrap
          .section-title.bottom-border Популярные услуги
          ul.diamond
            li: a(href="service.html") Оспаривание кадастровой стоимости
            li: a(href="service.html") Абонентское бухгалтерское обслуживание
            li: a(href="service.html") Адвокат по арбитражным делам
            li: a(href="service.html") Уменьшение налога на землю
            li: a(href="service.html") Ликвидация организации
            li: a(href="service.html") Налоговый консультант
            li: a(href="service.html") Изменение ВРИ
            li: a(href="service.html") Банкротство юридических лиц
            li: a(href="service.html") Юрист по налоговому праву
            li: a(href="service.html") Разрешение на строительство
            li: a(href="service.html") Проверка земельного участка
            li: a(href="service.html") Юридический аутсорсинг
            li: a(href="service.html") Юридическое заключение по недвижимости
            li: a(href="service.html") Арбитражные споры
            li: a(href="service.html") Абонентское юридическое обслуживание
          a.all-items(href="services.html") все 118 услуг
