doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- PARTNERS LIST
      section.page-banner#partners
        ul.breadcrumbs
          li: a(href="/") Главная
          li Клиенты и партнеры
        .wrap
          .page-title Клиенты и партнеры
          .page-desc HEADS Consulting – это в первую очередь команда профессионалов. Каждый сотрудник Компании – эксперт в области права, консалтинга, бухгалтерского обслуживания, но что не менее важно – это надежный партнер, на которого всегда можно положиться и быть уверенным в результате. Мы гордимся своими сотрудниками!
      //- partners list
      section#clients
        .wrap
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
          .partners-card-container
            img(src="images/alfa.png", alt="")
          .partners-card-container
            img(src="images/binbank.png", alt="")
      //- popular-services
      section#main-popular-services
        .wrap
          .section-title.bottom-border Популярные услуги
          ul.diamond
            li: a(href="service.html") Оспаривание кадастровой стоимости
            li: a(href="service.html") Абонентское бухгалтерское обслуживание
            li: a(href="service.html") Адвокат по арбитражным делам
            li: a(href="service.html") Уменьшение налога на землю
            li: a(href="service.html") Ликвидация организации
            li: a(href="service.html") Налоговый консультант
            li: a(href="service.html") Изменение ВРИ
            li: a(href="service.html") Банкротство юридических лиц
            li: a(href="service.html") Юрист по налоговому праву
            li: a(href="service.html") Разрешение на строительство
            li: a(href="service.html") Проверка земельного участка
            li: a(href="service.html") Юридический аутсорсинг
            li: a(href="service.html") Юридическое заключение по недвижимости
            li: a(href="service.html") Арбитражные споры
            li: a(href="service.html") Абонентское юридическое обслуживание
          a.all-items(href="services.html") все 118 услуг
