doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- person deatil
      section#person-detail
        ul.breadcrumbs
          li: a(href="/") Главная
          li: a(href="team.html") Команда
          li Александр Базыкин
        .flex-layout
          .main-flex
            .team-card-photo#bazykin-card
            .team-card-description
              .team-card-name.border-bottom
                span Александр 
                | Базыкин
              .team-card-position Управляющий партнёр
              .team-card-desc
                p Александр Базыкин возглавляет компанию HEADS Consulting.
                p Специализируется в области гражданского и земельного права. Является экспертом в судебно-арбитражной практике и медиации. Обладает более чем 15-летним опытом консультирования компаний нефтегазового, финансового, производственного, инвестиционного и строительного секторов.
                p Автор ряда научных статей в отраслевых и научных изданиях, выступает в качестве ведущего эксперта в деловых и информационных СМИ. 
                p Помощник депутата Государственной Думы VI созыва.
          .flex-side
            .section-title Команда HEADS Consulting
            ul.team-side
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                .article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр

            
