doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- person deatil
      section#person-detail
        ul.breadcrumbs
          li: a(href="/") Главная
          li: a(href="team.html") Команда
          li Александр Базыкин
        .flex-layout
          .main-flex
            .team-card-photo#bazykin-card
            .team-card-description
              .team-card-name.border-bottom
                span Александр 
                | Базыкин
              .team-card-position Управляющий партнёр
              .team-card-desc
                p Александр Базыкин возглавляет компанию HEADS Consulting.
                p Специализируется в области гражданского и земельного права. Является экспертом в судебно-арбитражной практике и медиации. Обладает более чем 15-летним опытом консультирования компаний нефтегазового, финансового, производственного, инвестиционного и строительного секторов.
                p Автор ряда научных статей в отраслевых и научных изданиях, выступает в качестве ведущего эксперта в деловых и информационных СМИ. 
                p Помощник депутата Государственной Думы VI созыва.
          .flex-side
            .section-title Команда HEADS Consulting
            ul.team-side
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/bazykin-thumb.jpg", alt="alt")
                  .author-name
                    p Александр Базыкин
                    span Управляющий партнёр
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/kulikov-thumb.jpg", alt="alt")
                  .author-name
                    p Андрей Куликов
                    span Финансовый директор
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/kulikovn-thumb.jpg", alt="alt")
                  .author-name
                    p Никита Куликов
                    span Исполнительный директор
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/miklozyan-thumb.jpg", alt="alt")
                  .author-name
                    p Диана Маклозян
                    span Руководитель правового департамента
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/valueva-thumb.jpg", alt="alt")
                  .author-name
                    p Инесса Валуева
                    span Директор по персоналу
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/polyakova-thumb.jpg", alt="alt")
                  .author-name
                    p Светлана Полякова
                    span Главный бухгалтер
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/shalomeeva-thumb.jpg", alt="alt")
                  .author-name
                    p Кристина Шаломеева
                    span Руководитель управления по корпоративному праву
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/pavlovskaya-thumb.jpg", alt="alt")
                  .author-name
                    p Анастасия Павловская
                    span Руководитель правового департамента
              li
                a(href="person.html").article-author
                  .author-img
                    img(src="./images/eliseeva-thumb.jpg", alt="alt")
                  .author-name
                    p Юлия Елисеева
                    span Руководитель отдела перепланировок и переустройств

            
