doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- POST
      section#information-page
        ul.breadcrumbs
          li: a(href="/") Главная
          li: a(href="blog.html") Блог
          li HEADS Consulting разрабатывает новые законы робототехники
        .wrap
          .flex-layout
            .main-flex
              .page-title HEADS Consulting разрабатывает новые законы робототехники
              p
                b 19 апреля компания HEADS Consulting как ведущий эксперт в сфере правового регулирования выступает организатором секции «Роботы и искусственный интеллект: законодательство и правоприменение» в рамках Российского интернет форума 2017 (РИФ+КИБ 2017).
              img(src="images/post-img.png", alt="")
              p В связи с тем, что технологии уже проникли во все аспекты повседневной жизни человека, решения и результаты деятельности компаний занятых в IT-секторе в недалеком будущем будут активно влиять на другие секторы экономики, причем никак не связанных с IT, и как следствие на людей в них занятых. Следовательно, без понимания перспектив и конечных целей, а также без должной регламентации и законодательства, такое развитие будет хаотичным и скорее сможет нанести ущерб, чем оказать помощь.
              p В работе секции примут участие авторитетные представители российской IT-индустрии в сфере искусственного интеллекта и робототехники, среди которых руководитель Робототехнического центра «Сколково» Альберт Ефимов, исполнительный директор HEAD Consulting, учредитель проекта #ПравоРоботов Никита Куликов, Президент группы компаний Cognitive Technologies Ольга Ускова, руководитель по системам самообслуживания компании «Мегафон» Станислав Милых.
              p В своем выступлении Никита Куликов отметит необходимость разработки и внедрения Кибер кодекса в законодательное поле России, а так же поделится зарубежным опытом и мировыми тенденциями по выработке соответствующих позиций. 
              .published
                p Пресс-служба HEADS Consulting 
                b Денис Пахомов
                a(href="pahomov@headslegal.ru") pahomov@headslegal.ru<br>
                a(href="tel:74959889798") +7(495) 988-97-98

            .flex-side
              .section-title Последнии темы блога
              ul.diamond
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
                li: a(href="post.html") Исполнительный директор HEADS Consulting Никита Куликов комментирует блокировку финансовой помощи Украине от МВФ
              .section-title Популярные услуги
              ul.diamond.linked-list
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
                li: a(href="service.html") Оспаривание кадастровой стоимости
              a.all-items(href="services.html") Все услуги         
