doctype html
html
  include partials/head
  body
    include partials/header
    main
      section#information-page
        ul.breadcrumbs
          li: a(href="#") Главная
          li: a(href="#") Услуги
          li Оспаривание кадастровой стоимости
        .wrap
          .flex-layout
            .main-flex
              .page-title Оспаривание кадастровой стоимости
              p С 1 января 2017 г вступает в силу Федеральный закон «О внесении изменений в часть первую Гражданского кодекса Российской Федерации и отдельные законодательные акты Российской Федерации» от 03.07.2016 N 315-ФЗ (далее Закон) система объектов недвижимости пополнится новым объектом – машино-место. Это значит, что машино-места поступят в гражданский оборот в качестве самостоятельных объектов.
              p До первого 1 января 2017 г. машино-место не являлось самострельным объектом недвижимости, так не обладало необходимыми характеристиками, а именно не ограничено строительными конструкциями (п. 14 ч. 2 ст. 2 Федерального закона от 30.12.2009 N 384-ФЗ «Технический регламент о безопасности зданий и сооружений»). Данную позицию подтвердил Минэкономразвития России, своим письмом от 26.05.2015 N ОГ-Д23-7475 «О рассмотрении обращения».
              p 
                b Однако, несмотря на это, в г. Москве до 2015 года получила распространение практика регистрации права собственности на машино-место как на помещение.
              p После 2015 года, если машино-место не отвечало требованиям, предъявляемым к помещениям, и не обладало характеристиками, позволяющими отнести его к объектам недвижимости, то регистрировалась общая долевая собственность на здания, где находиться машино-место. Доли в праве собственности определялись пропорционально размерам машино-мест, находящихся в таких зданиях, помещениях. 
              p 
                b Сейчас, понятие «машино-место» закреплено в статье 1 Градостроительного кодекса РФ<br>
                | Машино-место – это часть здания или сооружения, которая предназначена исключительно для размещения транспортных средств, не ограничена либо частично ограничена строительной или иной ограждающей конструкцией и границы которой описаны в установленном законодательством о государственном кадастровом учете порядке.  
              p Все объекты, получившие отражение в ЕГРП как помещения и имеющие характеристики машино-места, признаются таковыми без внесения каких-либо изменений в соответствующие разделы реестра. Владельцы таких машино-мест вправе в заявительном порядке внести изменения в ЕГРН, суть которых будет состоять в том, что поменяются характеристики описания этого объекта (было помещение, станет машино-место).
              p Владельцы долей в праве собственности на нежилые помещения и здания, которым соответствует право пользования машино-местом, могут их преобразовать в машино-места. Стоит рассмотреть подробнее, целесообразно ли такое преобразование или нет.
              p Применение режима общей долевой собственности на здание или помещение, в котором размещены машино-места, как это было предусмотрено, имеет свои сложности. Во-первых, необходимо соблюдать право преимущественной покупки другими собственниками в случае намерения реализовать машино-место (ст. 250 ГК РФ). Тут есть определенные новеллы, предусмотренные Законом, в том случае если число участников долевой собственности на недвижимое имущество превышает двадцать, вместо извещения в письменной форме остальных участников долевой собственности, продавцом может быть размещено извещение об этом на официальном сайте органа регистрации права. 
              p Даже при наличии такой нормы, оборот машино мест через доли в праве ограничен. Продавец, после уведомления других сособственников о продажи доли, обязан ждать 30 дней после уведомления. 
              p Во-вторых, порядок пользования нежилым помещением определяется соглашением с другими собственниками. При недостижении согласия порядок пользования собственностью будет определяться по решению суда (ст. 247 ГК РФ). В данном соглашении предусмотрено, кто каким местом пользуется, а так же указанно, что все то, что не является машино-местами находится в совместном пользовании. Это соглашение, по общему правило, распространяется только на участников, которые его подписали. На новых собственников долевой собственности оно не распространяется и он не обязан соблюдать фактический порядок пользования данным имуществом.  
              p
                b Признания машино-место самостоятельным объектом решает две эти проблемы<br>
                | Условия, при которых возможно выдел доли в праве в отдельное машино-место:
              
              ol.ordered
                li Право собственности на долю должно быть зарегистрировано в ЕГРП.
                li Имеется соглашение, определяющие порядок пользования недвижимым имуществом, находящимся в общей долевой  собственности, из которого следует, что собственнику принадлежит конкретное машино-мест или имеется решение общего собрания, определяющее порядок владения и пользования общей долевой собственностью.
                li Необходимо провести кадастровый учет машино-места. Министерство экономического развития РФ утвердило приказ № 792 от 07.12.2016 года, устанавливающий размеры машино-места:
                
              ul.dotted
                li Минимально допустимые размеры машино-места - 5,3 x 2,5 м.
                li Максимально допустимые размеры машино-места - 6,2 x 3,6 м.
              p Границы машино-место должны определяться или путем нанесения краски на пол, или наклейки специальных лент. Границы машино-место не должны пересекаться друг с другом. 
              p После сбора всех документов, на основании заявления собственника доли, осуществляется регистрация права собственности на машино-место, как на отдельный объект недвижимости и доля в праве собственности прекращается. 
              p До того, как все участники общей долевой собственности конвертировали свои доли в  машино-места , владение и пользование местами общего пользования (проезды, проходы и так далее), осуществляется совместно. После того, как последний участник долевой собственности конвертирует свою долю в машино-место, право общей долевой собственности прекратится. После этого, все проходы и проезды, а так же помещения необходимые для эксплуатации здания/помещения, в котором находятся машино-места, становятся общим имуществом собственников машино-место.
              
              form(action="")
                .section-title Запись на консультацию
                p Мы заинтересованы в долгосрочном сотрудничестве с Вами, поэтому приложим все усилия и знания Компании для достижения наилучшего результата в самые сжатые сроки!
                p
                  b Запись на консультацию по телефону +7 (495) 988-97-98 или через форму на сайте:
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="text" name="phone" placeholder="Номер вашего телефона")
                button(type="submit" value="записаться") Записаться
                  
            .flex-side
              .side-section
                .section-title Налоговое право
                ul.diamond
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
                  li: a(href="#") Налоговый консультант
              .side-section
                .section-title Популярные услуги
                ul.diamond.linked-list
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                  li: a(href="#") Оспаривание кадастровой стоимости
                a.all-items(href="#") Все услуги         
