doctype html
html
  include partials/head
  body
    include partials/header
    main
      //- TEAM LIST
      section.page-banner#team
        ul.breadcrumbs
          li: a(href="/") Главная
          li Команда
        .wrap
          .page-title Команда
          .page-desc HEADS Consulting – это в первую очередь команда профессионалов. Каждый сотрудник Компании – эксперт в области права, консалтинга, бухгалтерского обслуживания, но что не менее важно – это надежный партнер, на которого всегда можно положиться и быть уверенным в результате. Мы гордимся своими сотрудниками!
      //- team cards list
      section
        .wrap
          a(href="person.html").team-card-container
            img(src="images/team-bazykin.png", alt="")
            .team-card-titles
              .section-title.white Александр Базыкин
              p.white Управляющий партнёр
          a(href="person.html").team-card-container
            img(src="images/team-kulikov.png", alt="")
            .team-card-titles
              .section-title.white Андрей Куликов
              p.white Финансовый директор
          a(href="person.html").team-card-container
            img(src="images/team-kulikov2.png", alt="")
            .team-card-titles
              .section-title.white Никита Куликов
              p.white Исполнительный директор
          a(href="person.html").team-card-container
            img(src="images/team-maklozyan.png", alt="")
            .team-card-titles
              .section-title.white Диана Маклозян
              p.white Руководитель правового департамента
          a(href="person.html").team-card-container
            img(src="images/team-valueva.png", alt="")
            .team-card-titles
              .section-title.white Инесса Валуева
              p.white Директор по персоналу
          a(href="person.html").team-card-container
            img(src="images/team-polyakova.png", alt="")
            .team-card-titles
              .section-title.white Светлана Полякова
              p.white Главный бухгалтер
          a(href="person.html").team-card-container
            img(src="images/team-shalomeeva.png", alt="")
            .team-card-titles
              .section-title.white Кристина Шаломеева
              p.white Руководитель управления по корпоративному праву
          a(href="person.html").team-card-container
            img(src="images/team-pavlovskaya.png", alt="")
            .team-card-titles
              .section-title.white Анастасия Павловская
              p.white Руководитель правового департамента
          a(href="person.html").team-card-container
            img(src="images/team-eliseeva.png", alt="")
            .team-card-titles
              .section-title.white Юлия Елисеева
              p.white Руководитель отдела перепланировок и переустройств
      //- popular-services
      section#main-popular-services
        .wrap
          .section-title.bottom-border Популярные услуги
          ul.diamond
            li: a(href="service.html") Оспаривание кадастровой стоимости
            li: a(href="service.html") Абонентское бухгалтерское обслуживание
            li: a(href="service.html") Адвокат по арбитражным делам
            li: a(href="service.html") Уменьшение налога на землю
            li: a(href="service.html") Ликвидация организации
            li: a(href="service.html") Налоговый консультант
            li: a(href="service.html") Изменение ВРИ
            li: a(href="service.html") Банкротство юридических лиц
            li: a(href="service.html") Юрист по налоговому праву
            li: a(href="service.html") Разрешение на строительство
            li: a(href="service.html") Проверка земельного участка
            li: a(href="service.html") Юридический аутсорсинг
            li: a(href="service.html") Юридическое заключение по недвижимости
            li: a(href="service.html") Арбитражные споры
            li: a(href="service.html") Абонентское юридическое обслуживание
          a.all-items(href="services.html") все 118 услуг
