//- footer
//-   ul
//-     li: a(href='#') О компании
//-     li: a(href='#') Команда
//-     li: a(href='#') Вакансии
    
//-   ul
//-     li: a(href='#') Программа лояльности
//-     li: a(href='#') Конфиденциальность
//-     li: a(href='#') Клиенты и партнеры
    
//-   ul
//-     li: a(href='#') Услуги
//-     li: a(href='#') Комментарии в СМИ
//-     li: a(href='#') Блог
    
//-   ul
//-     li: a(href='#') Заказать звонок
//-     li: a(href='#') Связаться с нами
//-     li: a(href='#') Контакты
    
//-   ul
//-     li.phone-ico
//-       a(href='#') +7 495 988 97 98
//-     li.map-ico
//-       a(href='#') Нововаганьковский пер., д.9, стр.2
//-     li.mail-ico
//-       a(href='#') info@headslegal.ru
      
//-   .copyright
//-     img(src='./images/moon.svg', alt='')
//-     |  © 1995–2017 ООО «Хедз». Все права защищены.
//-     img(src='./images/youtube.svg', alt='')
//-     img(src='./images/facebook.svg', alt='')
//-     img(src='./images/tweet.svg', alt='')
