footer
  button#scrolltop
  .wrap
    ul
      li: a(href='about.html') О компании
      li: a(href='team.html') Команда
      li: a(href='#') Вакансии
      
    ul
      li: a(href='loyalty.html') Программа лояльности
      li: a(href='#') Конфиденциальность
      li: a(href='partners.html') Клиенты и партнеры
      
    ul
      li: a(href='services.html') Услуги
      li: a(href='comments.html') Комментарии в СМИ
      li: a(href='blog.html') Блог
      
    ul
      li: a.order-call(href='#') Заказать звонок
      li: a.write-back(href='#') Связаться с нами
      li: a(href='contacts.html') Контакты
            
    ul
      li.phone-ico
        a(href='tel:+74959889798') +7 495 988 97 98
      li.map-ico
        a(href='contacts.html') Нововаганьковский пер., д.9, стр.2
      li.mail-ico
        a(href='mailto:info@headslegal.ru') info@headslegal.ru
        
  .copyright
    .wrap
      a.design-by(href="http://themoon.studio" target="_blank")
        img(src='./images/moon.svg', alt='')
      p © 1995–2017 ООО «Хедз». Все права защищены.
      .footer-social
        a.facebook-link(href="https://www.facebook.com/HeadsConsulting/?fref=ts" target="_blank")
        a.youtube-link(href="https://www.youtube.com/channel/UCPVkXfzLKzZ9m14b2kB2BqA" target="_blank")
        a.twitter-link(href="http://www.twitter.com" target="_blank")
      
