header       
  .apps-container
    button#search
    button#scrolltop
  .callback-modal.modal
    .modal-wrap
      button.close-modal
      .section-title Заказать обратный звонок
      p Укажите Ваше имя и контактный номер телефона и мы Вам перезвоним.
      form
        input(name="name" placeholder="Ваше имя" type="text" required)  
        input(name="phone" placeholder="Номер вашего телефона" type="text" required)  
        input(name="email" placeholder="Ваш email" type="text" )  
        input(name="comment" placeholder="Комментарий" type="text" required)
        button(type="submit") Заказать
  .writeback-modal.modal
    .modal-wrap
      button.close-modal
      .section-title НАПИСАТЬ НАМ ПИСЬМО
      p Задaйте интересующий Вас вопрос или оставьте отзыв.
      form
        input(name="name" placeholder="Ваше имя" type="text" required)  
        input(name="email" placeholder="Ваш email" type="text" required)  
        input(name="phone" placeholder="Номер вашего телефона" type="text" )  
        input(name="comment" placeholder="Комментарий" type="text" required)
        button(type="submit") Отправить
  .zoom-container
  nav.navbar
    button#menu
    a.logo(href='/')
    menu
      ul.main-menu
        li: a(href='services.html') Услуги
        li: a(href='about.html') О компании
        li: a(href='team.html') Команда
        li: a(href='comments.html') Комментарии в СМИ
        li: a(href='blog.html') Блог
        li: a(href='faq.html') Вопрос / Ответ
        li: a(href='loyalty.html') Программа лояльности
        li: a(href='partners.html') Клиенты и партнеры
        li: a(href='contacts.html') Контакты
      .contacts-menu
        ul
          li: a.phone-contact(href="tel:+74959889798") +7 495 988 97 98
          li: a.order-call(href="#") Заказать звонок
      .social-mobile
        ul
          li: a.facebook-mobile(href="https://www.facebook.com/HeadsConsulting/?fref=ts" target="_blank") Facebook
          li: a.youtube-mobile(href="https://www.youtube.com/channel/UCPVkXfzLKzZ9m14b2kB2BqA" target="_blank") Youtube
          li: a.twitter-mobile(href="http://www.twitter.com" target="_blank") Tweeter
      
      
        
