header       
  .apps-container
    button#search
    button#scrolltop
  .callback-modal
  .writeback-modal
  .zoom-container
  nav.navbar
    button#menu
    a.logo(href='#')
    menu
      ul.main-menu
        li: a(href='#') Услуги
        li: a(href='#') О компании
        li: a(href='#') Команда
        li: a(href='#') Блог
        li: a(href='#') Контакты
      .contacts-menu
        ul
          li: a.phone-contact(href="tel:+74959889798") +7 495 988 97 98
          li: a.order-call(href="#") Заказать звонок
      .social-mobile
        ul
          li: a.facebook-mobile(href="#") Facebook
          li: a.youtube-mobile(href="#") Youtube
          li: a.twitter-mobile(href="#") Tweeter
      
      
        
