.search-container
  button.close-search
  .left-bar
  .search-main
    .wrap
      .search-bar
        input(type="search" placeholder="поиск по сайту")
      
      .search-content
        ul.diamond
          p.service-list-title Сделки с недвижимостью
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
        ul.diamond
          p.service-list-title Сделки с недвижимостью
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
        ul.diamond
          p.service-list-title Сделки с недвижимостью
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
        ul.diamond
          p.service-list-title Регистрация, реорганизация и ликвидация  бизнеса
          li: a(href="service.html") Юрист по корпоративному праву
          li: a(href="service.html") Юрист в сфере бизнеса
          li: a(href="service.html") Регистрация юридического лица
          li: a(href="service.html") Регистрация обособленных подразделений
          li: a(href="service.html") Регистрация некоммерческих организаций
          li: a(href="service.html") Внесение изменений в учредительные документы
          li: a(href="service.html") Смена учредителя ООО
          li: a(href="service.html") Смена генерального директора в ООО
          li: a(href="service.html") Смена юридического адреса организации
          li: a(href="service.html") Смена наименования организации
          li: a(href="service.html") Регистрация обособленных подразделений
          li: a(href="service.html") Выход из состава участников ООО
          li: a(href="service.html") Увеличение, уменьшение установного капитала
          li: a(href="service.html") Восстановление организации в ЕГРЮЛ
          li: a(href="service.html") Изменение видов A1:E299 (ОКВЭД)
          li: a(href="service.html") Регистрация иностранных компаний
          li: a(href="service.html") Реорганизация юридического лица
          li: a(href="service.html") Преобразование компании
          li: a(href="service.html") Ликвидация бизнеса
          li: a(href="service.html") Банкротство юридических лиц
        
        ul.diamond
          p.service-list-title Юридическое заключение по недвижимости
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация  юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
        
        ul.diamond
          p.service-list-title Сделки с недвижимостью
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
        ul.diamond
          p.service-list-title Сделки с недвижимостью
          li: a(href="service.html") Сопровождение сделок с недвижимостью
          li: a(href="service.html") Консультация юриста по недвиждимости
          li: a(href="service.html") Оспаривание кадастровой стоимости
          li: a(href="service.html") Право собственности на недвижимость
          li: a(href="service.html") Купля продажа недвижимости
          li: a(href="service.html") Договор дарения недвижимости
          li: a(href="service.html") Выкуп нежилых помещений
